@using EntityLayer.Concrete
@model List<Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html><head>
    <title>Free Easy-Trip Website Template | Home :: w3layouts</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="~/tema_blog/web/css/style.css" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/tema_blog/web/css/slider.css" rel="stylesheet" type="text/css" media="all" />
    <script src="~/tema_blog/web/js/jquery.min.js"></script>
    <script src="~/tema_blog/web/js/responsiveslides.min.js"></script>
    @*<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/f60fede38e.js" crossorigin="anonymous"></script>*@
    <script>
        // You can also use "$(window).load(function() {"
        $(function () {
            // Slideshow 1
            $("#slider1").responsiveSlides({
                auto: true,
                nav: true,
                speed: 500,
                namespace: "callbacks",
            });
        });
    </script>

</head>
<body>
    <div class="header-banner">
        <div class="wrap">
            <div class="banner">
                <div class="indent">
                    <h2 class="indent-left margin-bot" style="color:black"> Haydi İnceleyelim ;) </h2>

                    <div class="banner-left">
                        @foreach (var item in Model)
                        {
                            <div class="con-text">
                                <div class="grid1-desc" style="font-size:25px;">
                                    <br />
                                    <i class="fas fa-location-arrow"> <a href="/@item.CategoryName/Index/@item.CategoryID" style="color:black">@item.CategoryName</a></i>
                                </div>
                                <div class="clear"></div>

                               

                            </div> }


                            <div class="clear"></div>
                        </div>
                    <br /><br />
                    <div class="header_bottom_right_images">

                        <div class="slider">
                            <ul class="rslides" id="slider1">
                                @foreach (var item in Model)
                                {
                                    <li><img src="@item.CategoryImage" alt="" style="height:250px; width:650px;"></li>

                                }

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    

        <div class"content">
            <div class="wrap">
                <div class="wrapper">
                    <div class="con-top">
                       <h2>Blog Yazarlarımız</h2> <hr />
                    </div>
                    @Html.Action("GetBlogger")

                    <div class="clear"></div>
                </div>
            </div>
        </div>


        @*<div class"content">
                <div class="wrap">
                    <div class="wrapper">



                        <div class="right">
                            <div class="bot-left">
                                <img src="images/pic2.jpg" alt="" />
                            </div>
                            <div class="left-text">

                                <h4>Lorem ipsum dolor sit amet, conte adipiscing elit dolor sit amet</h4>
                                <span class="doller">$924.99</span>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismo</p>
                                <p><a href="#"><span class="read">Read More >></span></a></p>
                            </div>
                        </div>

                        <div class="right">
                            <div class="bot-left">
                                <img src="images/pic2.jpg" alt="" />
                            </div>
                            <div class="left-text">

                                <h4>Lorem ipsum dolor sit amet, conte adipiscing elit dolor sit amet</h4>
                                <span class="doller">$924.99</span>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismo</p>
                                <p><a href="#"><span class="read">Read More >></span></a></p>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>






                </div>
            </div>*@



</body>
</html>
