@using EntityLayer.Concrete
@model List<Content>


<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>AdminLTE 3 | Dashboard 3</title>
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/plugins/fontawesome-free/css/all.min.css">
    <!-- IonIcons -->
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">


</head>
<body class="hold-transition sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">
        <section class="content">
            <div class="container-fluid">

                <!-- Timelime example  -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- The time line --><h3 style="color:#673737"><b>YORUMLAR</b></h3>
                                              <div class="timeline">

                                                  <!-- timeline time label -->
                                                  @foreach (var item in Model)
                                                  {

                                                      <div class="time-label">
                                                          <span class="bg-success">@(((DateTime)item.ContentDate).ToString("dd-MMM-yyy"))</span>
                                                      </div>
                                                      <!-- /.timeline-label -->
                                                      <!-- timeline item -->
                                                      <div>
                                                          <i class="fas fa-comment bg-yellow"></i>
                                                          <div class="timeline-item">
                                                              <h3 class="timeline-header"><a href="#">@item.Member.MemberName @item.Member.MemberSurName</a></h3>
                                                              <div class="timeline-body">
                                                                  @item.ContentValue
                                                              </div>

                                                          </div>
                                                      </div>
                                                      <!-- END timeline item -->
                                                  }
                                                  @*<div class="time-label">
                                                      <span class="bg-gradient-green"><a href="/MemberPanelContent/AddHeadingContent/" style="color:whitesmoke">YORUM YAP</a></span>
                                                  </div>*@

                                              </div>
                       
                    </div>
                    <!-- /.col -->
                </div>
            </div>
            <!-- /.timeline -->
        </section>
        <!-- /.content -->
    </div>
    <!-- ./wrapper -->
    <script src="~/AdminLTE-3.0.4/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE -->
    <script src="~/AdminLTE-3.0.4/dist/js/adminlte.js"></script>
    <!-- OPTIONAL SCRIPTS -->
    <script src="~/AdminLTE-3.0.4/plugins/chart.js/Chart.min.js"></script>
    <script src="~/AdminLTE-3.0.4/dist/js/demo.js"></script>
    <script src="~/AdminLTE-3.0.4/dist/js/pages/dashboard3.js"></script>
</body>
</html>
