
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Free Easy-Trip Website Template | Home :: w3layouts</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="~/tema_blog/web/css/style.css" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/tema_blog/web/css/slider.css" rel="stylesheet" type="text/css" media="all" />
    <script src="~/tema_blog/web/js/jquery.min.js"></script>
    <script src="~/tema_blog/web/js/responsiveslides.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/f60fede38e.js" crossorigin="anonymous"></script>
    <script>
        // You can also use "$(window).load(function() {"
        $(function () {
            // Slideshow 1
            $("#slider1").responsiveSlides({
                auto: true,
                nav: true,
                speed: 500,
                namespace: "callbacks",
            });
        });
    </script>

</head>
<body>
    <div class="header">
        <div class="wrap">
            <div class="logo"><a href="index.html"><img src="~/tema_blog/web/images/logo.png" alt="" /></a></div>
            <div class="con-right">
                <div class="grid1-l-img">
                    <img src="~/tema_blog/web/images/contact.png" alt="">
                </div>
                <div class="grid1-l-desc">
                    <p>Contact : +91 00000-55555</p>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="wrap">
            <ul id="nav">
                <li><a href="index.html">ANASAYFA</a></li>
                <li><a class="hsubs" href="about.html">BLOG</a></li>
                <li><a href="contact.html">İLETİŞİM</a></li>
                <li>
                    <a class="hsubs" href="destinations.html">GİRİŞ YAP</a>
                    <ul class="subs">
                        <li><a href="#">BLOGGER GİRİŞİ</a></li>
                        <li><a href="#">ZİYARETÇİ GİRİŞİ</a></li>
                    </ul>
                </li>   
                <li><a href="contact.html">ÇIKIŞ YAP</a></li>
            </ul>
        </div>
    </div>
    <div class="header-banner">

        @RenderBody();
    </div>
    @*<div class"content">
        <div class="wrap">
            @RenderBody()
        </div>
    </div>*@
    <div class="footer-bottom">
        <div class="wrap">
            <div class="copy">
                <p>&copy; 2013 Easy-Trip. All Rights Reserved | Design by <a href="http://w3layouts.com">W3Layouts</a></p>
            </div>
            <!--<div class="social-links" style="margin-bottom:auto; font-size:100px;">
                <a href="#"><i class="fa fa-facebook-square"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-pinterest"></i></a>
            </div>-->
            <!-- .social-links -->

        </div>
    </div>
</body>
</html>
